.overlay {
  z-index: 10000;
  background-color: rgba(33, 37, 41, 0.5);
}

.modal-card {
  width: min(600px, 90vw);
  height: min(400px, 80vh);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
